@import url('https://googleapis.com');@import "tailwindcss";



:root {
    --background: #000000;
    --foreground: #ededed;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@theme {
  /* Define the keyframes and animation here */
  @keyframes shimmer {
    0% { transform: translateX(-150%) skewX(-20deg); }
    100% { transform: translateX(150%) skewX(-20deg); }
  }
  --font-doodle: "Architects Daughter", cursive;
  --animate-shimmer: shimmer 2s linear infinite;
}